.About {
    section {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 38px 109px;
    }
}

@media (max-width: 1200px) {
    .About {  
        section {
            padding: 19px 0;
        }
    }
}