$base-color: #FF6060;
.Housing {
    .Housing_Info_1 {
        display: flex;
        justify-content: space-between;        
        .Title_Location_Tags {
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            gap: 20px;
            h1 {
                font-size: 36px;
                color: $base-color;
                font-weight: 500;
                margin: 0;
            }
            span {
                font-size: 18px;
                color: $base-color;
            }
            .Tags {
                display: flex;
                gap: 10px;
                .Tag {
                    background-color: $base-color;
                    color: white;
                    border-radius: 10px;
                    min-width: 115px;
                    height: 25px;
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 20px;
                }
            }            
        }
        .Host_Rating {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 21px;
            padding-top: 20px;
            .Host {
                display: flex;
                align-items: center;
                gap: 10px;
                span {
                    width: min-content;
                    text-align: end;
                    color: $base-color;
                    font-size: 18px;
                }
                img {
                    border-radius: 100%;
                }            
            }        
            .Rating {
                display: flex;
                gap: 10px;
            }
        }
    }    
    .Dropdowns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 76px;
        padding-top: 24px;
        padding-bottom: 50px;
    }
}

@media (max-width: 1280px) {
    .Housing {  
        .Housing_Info_1 {
            flex-direction: column;        
            .Title_Location_Tags {
                h1 {
                    font-size: 18px;
                }
                span {
                    font-size: 14px;
                }
                .Tags {
                    flex-wrap: wrap;
                    .Tag {
                        min-width: 84px;
                        height: 18px;
                        font-size: 10px;
                        padding: 0 9px;
                    }
                }
                
            }
            .Host_Rating {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                .Host {
                    span {
                        font-size: 12px;
                    }
                    img {
                        height: 32px;
                        width: 32px;
                    }            
                }        
                .Rating {
                    gap: 4px;
                    img {
                        height: 13px;
                        width: 13px;
                    }                    
                }
            }
        }   
        .Dropdowns {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 13px;
            padding-bottom: 27px;
        }
    }
}