body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 0px 100px;
}

@media (min-width: 1200px) {
  .only-mobile {
    display: none;
  }
}

@media (max-width: 1200px) {
  main {
    padding: 0px 20px;
  }  
}